header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 117px;
  left: 0px;
  top: 0px;
  background: #c5e9ff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

  .header-text {
    width: 85%;
    height: 55px;
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 42px;
    text-align: center;
  }

  img {
    margin: auto;
  }
}

body {
  background: #d5efff;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.image-conainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 583px;
  margin: 3%;
}

.container-for-autorisation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.autorisation-conainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 76%;
  height: 80%;
  background: #ffffff;
  border-radius: 4px;

  h1 {
    font-weight: 300;
    font-size: 43px;
    line-height: 42px;
    color: #000000;
    text-align: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;

    label {
      width: 50%;
      height: 30px;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 21px;
      color: #000000;
      margin: 5px 0;
    }

    input {
      width: 96%;
      height: 40px;
      left: 575px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      box-sizing: border-box;
      font-weight: 300;
      font-size: 27px;
      margin: 20px 0;
    }

    .button-and-text-conainer {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      align-items: flex-end;
      margin-right: 9px;

      button {
        width: 51%;
        height: 40px;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
        line-height: 21px;
      }

      h4 {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 2rem;

    .image-conainer {
      width: 37%;

      img {
        width: 130px;
      }
    }

    .container-for-autorisation {
      width: 63%;

      .autorisation-conainer {
        font-size: 2rem;
        height: 650px;
        width: 95%;
        margin: 3%;

        .form-container {
          label {
            font-size: 1.9rem;
          }

          input {
            font-size: 2rem;
            min-height: 61px;
          }

          .button-and-text-conainer {
            button {
              width: 73%;
              font-size: 2rem;
              margin: 3%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  body {
    font-size: 2rem;

    .image-conainer {
      width: 37%;

      img {
        width: 130px;
      }
    }

    .container-for-autorisation {
      width: 63%;

      .autorisation-conainer {
        font-size: 2rem;
        height: 650px;
        width: 95%;
        margin: 3%;

        .form-container {
          label {
            font-size: 1.9rem;
          }

          input {
            font-size: 2rem;
            min-height: 61px;
          }

          .button-and-text-conainer {
            button {
              width: 94%;
              font-size: 2rem;
              margin: 3%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  header {
    .header-text {
      font-size: 2rem;
      height: 77px;
    }
  }

  body {
    .image-conainer {
      width: 1%;

      img {
        width: 1px;
      }
    }

    .container-for-autorisation {
      width: 99%;

      .autorisation-conainer {
        width: 100%;

        .form-container {
          .button-and-text-conainer {
            button {
              width: 100%;
              font-size: 1.7rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  header {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .header-text {
      font-size: 2rem;
    }
  }

  header {
    .header-text {
      font-size: 2rem;
      height: 77px;
    }
  }

  body {
    .image-conainer {
      width: 1%;

      img {
        width: 1px;
      }
    }

    .container-for-autorisation {
      width: 99%;

      .autorisation-conainer {
        font-size: 1.5rem;
        width: 100%;

        .form-container {
          .button-and-text-conainer {
            button {
              width: 100%;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 280px) {
  body {
    .container-for-autorisation {
      .autorisation-conainer {
        font-size: 1.2rem;
      }
    }
  }
}
