.all-reception-container {
  width: 96%;
  margin: auto;
  overflow: auto;
  max-height: 100%;

  .table-head {
    background-color: #c4c4c4;
  }

  .table-row {
    border-left: 2px solid black;
    border-bottom: none;
  }

  .edit-table {
    border-left: none;
  }
}

@media (max-width: 1024px) {
  .table-head tr th {
    font-size: 3rem;
  }

  .table-row tr th {
    font-size: 1.5rem;
  }

  .table-row tr td {
    font-size: 1.5rem;
  }

  .image-for-table {
    width: 30px;
  }
}
